/Install
/Downloads
/Instances/Fishblock/.fabric
/Instances/Fishblock/config
/Instances/Fishblock/data
/Instances/Fishblock/downloads
/Instances/Fishblock/logs
#keep mods folder
/Instances/Fishblock/resourcepacks
/Instances/Fishblock/saves
/Instances/Fishblock/.curseclient
/Instances/Fishblock/minecraftinstance.json
/Instances/Fishblock/options.txt
/Instances/Fishblock/realms_persistence.json
/Instances/Fishblock/usercache.json
minecraftinstance.json
.curseclient
